/* 섹션1 */
.slide-container {
  width: 960px;
  height: 640px;
  margin: 0 auto;
  margin-top: 150px;
}


.slide-container .slide {
  width: auto;
  height: 640px;
  padding: 20px 0;
  box-sizing: border-box;
}


.slide img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-nav {
  width: 960px;
  height: 180px;
  margin: 30px auto;
}

.slide-nav .slide {
  width: auto;
  height: 180px;
  /* padding: 20px; */
  box-sizing: border-box;
}

.slide-nav .slide:not(.slick-current) {
  filter: brightness(20%);
}

/* slick - 네비게이션 화살표 */
.prev-arrow {
  position: absolute;
  left: 2%;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  z-index: 100;
  background: url(../img/prev.png) no-repeat center center / 40px 40px;
  outline: none;
  border: none;
  filter: brightness(40%);
  cursor: pointer;
}


.next-arrow {
  position: absolute;
  right: 2%;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  z-index: 100;
  background: url(../img/next.png) no-repeat center center / 40px 40px;
  outline: none;
  border: none;
  filter: brightness(40%);
  cursor: pointer;
}


.prev-arrow:hover,
.next-arrow:hover {
  filter: brightness(100%);
}



/* 네비게이션 닷츠 커스텀 */
.slick-dots {
  position: absolute;
  bottom: -20px;
}


.slick-dots li { margin-right: 20px; }
.slick-dots li button {}
/* 닷츠 */
.slick-dots li button::before {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}
/* 현재 닷츠 */
.slick-dots li.slick-active button::before { background-color: rgb(90, 90, 90); }



.nav-btn {
  display: block;
  padding: 5px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  background-color: rgb(102, 102, 102);
  border-radius: 50%;
  color: white;
  box-sizing: border-box;
}


.slick-dots li.slick-active .nav-btn {
  background-color: rgb(85, 85, 85);
}






/* 헤더*/
*{margin: 0; padding: 0; box-sizing: border-box;}

header{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}
.util{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #352F44;
  height: 55px;
}
a{ text-decoration: none; color: black;}
.util-menu a{
  color: white;
  font-size: 15px;
}
ul{ list-style-type: none;}

.util .util-menu {
  display: flex;
  column-gap: 20px;
  margin: 0 10px;
  
  }

header .menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #faf3ec;
  clear: both;
}


.menu .menu-center ul{
  display: flex;
  column-gap: 70px;
  font-size: 20px;
}

.menu-left a,
.menu-right a{
  padding: 0 30px;
  font-size: 30px;
}

/* 섹션 2 */
.img-container{
  width: 960px;
  height: 640px;
  background-color: #faf3ec;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.img-container .img-left,
.img-container .img-center,
.img-container .img-right
{
  width: 280px;
  height: 470px;
  border-radius: 15px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(202, 202, 202);
}

.img-container .img-left img,
.img-container .img-right img,
.img-container .img-center img
{
  width: 100%;
  height: 300px;
  object-fit: cover
  
}
.img-container h2{
  text-align: center;
  margin: 15px auto;
  font-size: 21px;
}
.img-container h3{
  text-align: left;
  margin: 5px 15px;
  font-size: 15px;
}
.img-container .date-heart{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.img-container #date{
display: block;
color: rgb(199, 199, 199);
font-size: 17px;
}
.img-container a{
  line-height: 35px;
  margin-right: 15px;
  font-size: 20px;
}
/* 섹션 3 */
.intro1{
 
}
.intro1 .intro-container{
  width: 960px;
  height: 640px;
  /* background-color: #faf3ec; */
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro1 .intro-left{
  
  width: 350px;
  
}
.intro1 .intro-right{
width: 370px;
height: 400px;
}
.intro1 .intro-left img{
  width: 100%;
  height: 400px;
  object-fit: cover
}
.intro1 .intro-right #btn1{
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #B9B4C7;
  border-radius: 8px;
  position: relative;
  top: 230px;
  left: 240px;
}
/* 섹션 4 */
.intro2{
 margin-top: 100px;
}
.intro2 .intro-container{
  width: 960px;
  height: 640px;
  background-color: #faf3ec;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro2 .intro-right{
  
  width: 350px;
  
}
.intro2 .intro-left{
width: 370px;
height: 400px;
}
.intro2 .intro-right img{
  width: 100%;
  height: 400px;
  object-fit: cover
}
.intro2 .intro-left #btn2{
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #B9B4C7;
  border-radius: 8px;
  position: relative;
  top: 230px;
  left: 240px;
}

/* 푸터 */
footer{
  margin-top: 200px;
  width: 100%;
  height: 460px;
  background-color: #211f27;
  position: relative;
}
footer .menu{
  position: relative;
  display: flex;
  column-gap: 60px;
  top: 50px;
  left: 20%;
}

footer .menu li{

  margin: 30px;
  font-size: 20px;
  color: white;
}

footer .copy{
  position: relative;
  top: 180px;
  text-align: center;
  color: white;
  font-size: 20px;
}

footer select{
  position: relative;
  top: 30px;
  left: 0;
  padding: 10px 15px;
}